.input {
    display: flex;
    height: 100%;
    background-color: #000;
    outline: 1px solid #888;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2.8em;
    align-items: center;
    flex:1;
    word-break: break-word;
}
@media (max-width: 1200px) {
    .input {
        font-size: 2.2em;
    }
}
@media (max-width: 967px) {
    .input {
        font-size: 1.8em;
    }
}
@media (max-width: 768px) {
    .input {
        font-size: 1.5em;
    }
}
@media (max-width: 576px) {
    .input {
        font-size: 1.2em;
    }
}